/* #region 顶部导航条 start */
.topbar {
  height: 40px;
  line-height: 40px;
  background-color: #333;
}

.topbar a {
  display: inline-block;
  font-size: 12px;
  color: #b0b0b0;
}

.topbar a:hover {
  color: #fff;
}

.topbar .container {
  display: flex;
  justify-content: space-between;
  background-color: #333;
}

.topbar .service,
.topbar .welcome {
  display: flex;
  justify-content: space-between;
}

.topbar .service .code a {
  position: relative;
}

.topbar .service .code a:hover .download {
  height: 148px;
  overflow: visible;
}

.topbar .service .download {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 124px;
  height: 0px;
  overflow: hidden;
  background-color: #fff;
  transition: height 0.2s;
  box-shadow: 0 0 10px #00000050;
}

.topbar .service .download img {
  display: block;
  width: 90px;
  margin: 14px auto 0px;
}

.topbar .service .download span {
  display: block;
  font-size: 14px;
  color: #000;
  text-align: center;
}

.topbar .service .download::before {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
  border: 7px solid transparent;
  border-top: none;
  border-bottom-color: #fff;
  content: '';
}

.topbar .welcome .cart a {
  position: relative;
  width: 120px;
  margin-left: 26px;
  background-color: #424242;
  text-align: center;
}

.topbar .welcome .cart a:hover {
  background-color: #fff;
  color: #f60;
}

.topbar .welcome .cart a:hover::after {
  position: absolute;
  z-index: 1;
  top: 100%;
  right: 0px;
  width: 300px;
  height: 100px;
  line-height: 100px;
  background-color: #fff;
  color: #000;
  box-shadow: 0 5px 5px #00000050;
  content: '购物车中还没有商品，赶紧选购吧！';
}

/* #endregion 顶部导航条 end */
/* #region 头部导航栏 start */
.header {
  position: relative;
  height: 100px;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.header .logo {
  display: flex;
  align-items: center;
  width: 55px;
  overflow: hidden;
}

.header .logo span {
  display: none;
}

.header .logo a {
  display: flex;
  transition: transform 0.2s;
}

.header .logo a:hover {
  transform: translateX(-55px);
}

.header .logo a::after {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  background-color: #fff;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 30px;
  color: #f60;
  content: '\f015';
}

.header .logo a img {
  width: 55px;
  height: 55px;
}

.header .nav {
  display: flex;
  width: 800px;
  padding-left: 62px;
  padding-right: 10px;
  font-size: 16px;
  color: #000;
}

.header .nav>li {
  height: 100px;
  line-height: 100px;
  padding: 0px 10px;
}

.header .nav>li>a {
  display: block;
}

.header .nav>li>a:hover {
  color: #f60;
}

.header .nav .whole>a {
  visibility: hidden;
}

.header .search {
  display: flex;
  align-items: center;
  height: 100px;
}

.header .search form {
  position: relative;
  width: 299px;
  border-color: #e0e0e0;
  transition: border-color 0.2s;
}

.header .search form:hover input,
.header .search form:hover button {
  border-color: #b0b0b0;
}

.header .search form input {
  position: relative;
  box-sizing: border-box;
  width: 248px;
  height: 50px;
  padding: 0 10px;
  border: 1px solid #e0e0e0;
  outline: none;
  font-size: 14px;
  vertical-align: middle;
}

.header .search form input:focus,
.header .search form input:focus~button {
  border-color: #f60;
}

.header .search form input:focus~ul {
  height: 90px;
  border: 1px solid #f60;
  border-top: none;
}

.header .search form ul {
  position: absolute;
  z-index: 1;
  height: 0px;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid transparent;
  border-top: none;
  font-size: 12px;
}

.header .search form ul a {
  display: block;
  box-sizing: border-box;
  width: 246px;
  height: 30px;
  padding: 6px 10px;
}

.header .search form ul a:hover {
  background-color: #e0e0e0;
}

.header .search form button {
  position: absolute;
  left: 247px;
  width: 52px;
  height: 50px;
  line-height: 24px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  font-size: 20px;
  color: #616161;
  vertical-align: middle;
}

.header .search form button:hover {
  background-color: #f60;
  border-color: #f60;
  color: #fff;
}

/* #endregion 头部导航栏 end */
/* #region 热销商品区 start */
.header .nav .hot {
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 230px;
  overflow: hidden;
  background-color: #fff;
}

.header .nav .hot:hover,
.header .nav .show:hover~.hot {
  display: block;
  border-top: 1px solid #e0e0e0;
  box-shadow: 0 5px 10px #00000050;
}

.header .nav .hot ul {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 1224px;
  padding: 0px 1px;
  margin: auto;
}

.header .nav .hot li {
  position: relative;
  width: 160px;
  padding: 28px 22px;
}

.header .nav .hot ul li:nth-child(n+2)::after {
  position: absolute;
  left: 0px;
  top: 35px;
  width: 1px;
  height: 100px;
  content: '';
  background-color: #e0e0e0;
}

.header .nav .hot .info img,
.header .nav .hot .info span {
  display: block;
  margin: auto;
  font-size: 12px;
  color: #000;
  text-align: center;
}

.header .nav .hot .info img {
  width: 100px;
  margin-bottom: 18px;
}

.header .nav .hot .info span.price {
  color: #f60;
}

/* #endregion 热销商品区 end */
/* #region 品类导航区 start */
.header .nav .whole {
  visibility: visible;
  position: relative;
}

.header .nav .whole:hover div,
.header .nav .whole div:hover {
  height: 460px;
}

.header .nav .whole div {
  position: absolute;
  z-index: 1;
  right: 0px;
  font-size: 14px;
}

.header .nav .whole .kinds {
  width: 233px;
  height: 420px;
  padding: 20px 0px;
  background-color: #00000080;
}

.header .nav .whole .kind a {
  display: block;
  position: relative;
  padding-left: 30px;
  height: 42px;
  line-height: 42px;
  color: #fff;
}

.header .nav .whole .kind:hover {
  background-color: #f60;
}

.header .nav .whole .kind a i {
  position: absolute;
  right: 20px;
  height: 42px;
  line-height: 42px;
}

.header .nav .whole .sorts {
  visibility: hidden;
  position: absolute;
  top: 0px;
  left: 100%;
  width: max-content;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  font-size: 0px;
  box-shadow: 0 8px 16px #00000018;
}

.header .nav .whole .sorts:hover,
.header .nav .whole .kind:hover~.sorts {
  visibility: visible;
}

.header .nav .whole .sort {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 458px;
}

.header .nav .whole .sort li {
  width: 265px;
  height: 76px;
}

.header .nav .whole .sort li a {
  display: flex;
  align-items: center;
  padding: 18px 20px;
  height: 40px;
  font-size: 14px;
}

.header .nav .whole .sort li a:hover {
  color: #f60;
}

.header .nav .whole .sort li a img {
  width: 40px;
  margin-right: 12px;
}

.header .nav .whole .sort li a span {
  width: 172px;
  line-height: 40px;
  overflow: hidden;
}

/* #endregion 品类导航区 end */
/* #region 轮播内容区 start */
.banner .container {
  position: relative;
  height: 460px;
}

.banner ul li {
  position: absolute;
}

.banner ul li img {
  width: 100%;
}

.banner .pointer {
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.banner .pointer a {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 4px;
  background-color: #00000066;
  border: 2px solid #ffffffd4;
  border-radius: 50%;
}

.banner .pointer a:hover,
.banner .pointer a.active {
  background-color: #ffffffd4;
  border-color: #00000066;
}

.banner .arrow a {
  display: inline-block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  margin: auto 0px;
  width: 41px;
  height: 69px;
  background-image: url(../images/arrow.png);
}

.banner .arrow .prev {
  left: 233px;
  background-position: -82px 0;
}

.banner .arrow .prev:hover {
  background-position: 0px 0px;
}

.banner .arrow .next {
  right: 0px;
  background-position: -123px 0;
}

.banner .arrow .next:hover {
  background-position: -41px 0;
}

/* #endregion 轮播内容区 end */
/* #region 侧边工具条 start */
.sidebar {
  position: fixed;
  z-index: 1;
  bottom: 40px;
  left: 50%;
  margin-left: 613px;
}

.sidebar a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25px;
  height: 40px;
  margin-top: -1px;
  background-color: #fff;
  border: 1px solid #f5f5f5;
  font-size: 16px;
  color: #b0b0b0;
}

/* #endregion 侧边工具条 end */
/* #region 促销活动栏 start */
.promotions {
  margin-top: 14px;
}

.promotions .container {
  display: flex;
  height: 170px;
}

.promotions .tools {
  display: flex;
  flex-wrap: wrap;
  width: 227px;
  padding: 3px;
  background-color: #424242;
}

.promotions .tools li {
  display: flex;
  width: 75px;
  height: 82px;
  font-size: 12px;
}

.promotions .tools li a {
  display: inline-block;
  margin: auto;
  text-align: center;
  color: #ffffffd4;
  transition: color 0.2s;
}

.promotions .tools li a:hover {
  color: #fff;
}

.promotions .tools li a i {
  display: block;
  margin: 6px 0px;
  font-size: 24px;
}

.promotions .wares {
  display: flex;
  width: 978px;
  margin-left: 15px;
}

.promotions .wares li:nth-child(n+2) {
  margin-left: 15px;
}

.promotions .wares li img {
  height: 100%;
  transition: box-shadow 0.2s;
}

.promotions .wares li img:hover {
  box-shadow: 0 0 10px #00000050;
}

/* #endregion 促销活动栏 end */
/* #region 显示占用栏 start */
.test {
  height: 200px;
}

/* #endregion 显示占用栏 end */